#!/usr/bin/env zsh

# TODO: Refactor to retrieve value from .tool-versions file
export NODENV_VERSION=22.14.0

# TODO: Deprecate the use of Direnv in Staging+ environments
export PROJECT_ROOT=$(realpath $(dirname "${0:a:h}"))
export RAILS_ENV="${RAILS_ENV:-development}"

# Precedence should match this chart: https://github.com/bkeepers/dotenv?tab=readme-ov-file#customizing-rails
env_files=(
  "${PROJECT_ROOT}/.env"
  "${PROJECT_ROOT}/.env.${RAILS_ENV}"
  "${PROJECT_ROOT}/.env.${RAILS_ENV}.local"
  "${PROJECT_ROOT}/packages/twenty-crm/.env"
  "${PROJECT_ROOT}/packages/twenty-crm/.env.${RAILS_ENV}"
  "${PROJECT_ROOT}/packages/twenty-crm/.env.${RAILS_ENV}.local"
)

for env_file in "${env_files[@]}"; do
  if [[ -f "$env_file" ]]; then
    echo "🛠️ Loading $env_file"
    source "$env_file"
  fi
done
