# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# CRM postgres data
/packages/twenty-crm/data/**/downloads
!/packages/twenty-crm/data/**/downloads/.keep
!/packages/twenty-crm/data/**/downloads/twenty-crm-backup-sample.dump

# JS stuff
**/node_modules

# Environment files
**/.env.*.local
/.node-version

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
